/* The Modal (background) */
.modalSignup {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(227, 224, 243, 0.6); /* Black w/ opacity */
  padding: 5%;


}

/* Modal Content/Box */
.modal-contentSignup {
  /* background-color: #fefefe;  */
  margin: 5px auto; /* 15% from the top and centered */
  padding:10px;
  /* border: 1px solid #888; */
    /* Could be more or less, depending on screen size */

  /* -webkit-box-shadow: 0 0 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 0 60px 0 rgba(0,0,0,0.3); */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Bordered form */
/* form {
  border: 3px solid #f1f1f1;
} */

/* Full-width inputs */
/* input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

/* Set a style for all buttons */
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

/* Add a hover effect for buttons */
/* button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red)
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
*/
/* Center the avatar image inside this container
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
} */

/* Avatar image
img.avatar {
  width: 40%;
  border-radius: 50%;
} */

/* Add padding to containers
.container {
  padding: 16px;
}*/

/* The "Forgot password" text
span.psw {
  float: right;
  padding-top: 16px;
}*/




/* BASIC */



.body1 {
font-family: "Poppins", sans-serif;
}

/* a {
color: #92badd;
display:inline-block;
text-decoration: none;
font-weight: 400;
} */

.h2_text{
text-align: center;
letter-spacing: 3px;
font-size: 16px;
font-weight: 600;
text-transform: uppercase;
display:inline-block;
margin: 40px 8px 10px 8px;
color: #cccccc;
}



/* STRUCTURE */

.wrapper {
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
width: 100%;
height: 100%;

}

#formContent {
-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
background: #fff;
/* padding: 30px; */
width: 90%;
max-width: 450px;
position: relative;
padding: 0px;
/* -webkit-box-shadow: 0 0 60px 0 rgba(255,255,255,0.3); */
box-shadow: 0 30px 80px 0 rgba(0,0,0);
text-align: center;
background-image: url('./Bgimg1.jpg');
background-color: #006B94;
}

#formFooter {
background-color: #f6f6f6;
border-top: 1px solid #dce8f1;
padding: 25px;
text-align: center;
-webkit-border-radius: 0 0 10px 10px;
border-radius: 0 0 10px 10px;
}



/* TABS */

.h2_text.inactive {
color: #cccccc;
}

.h2_text.active {
color: #0d0d0d;
border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

.Button-submit_Signup {
background-color: #56baed;
border: none;
color: white;
padding: 15px 80px;
text-align: center;
text-decoration: none;
display: inline-block;
text-transform: uppercase;
font-size: 13px;
-webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
margin: 20px 20px 20px 20px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

.Button-submit_Signup:hover  {
background-color: #39ace7;
}

.Button-submit_Signup:active  {
-moz-transform: scale(0.95);
-webkit-transform: scale(0.95);
-o-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
}

.inputtext-type_Signup {
background-color: #f6f6f6;
border: none;
color: #0d0d0d;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 5px;
width: 93%;
border: 2px solid #f6f6f6;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-border-radius: 5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
}

.inputtext-type_Signup:focus {
background-color: #fff;
border-bottom: 2px solid #5fbae9;
}

.inputtext-typeS_Signup:placeholder {
color: #cccccc;
}

.Signup_Row {

  display: flex;
  padding: 10px;
 


}

/* Change styles for span and cancel button on extra small screens*/
@media screen and (max-width: 300px) {
 .Signup_Row {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 10px;
 }
 input[type=tel]{
   width:93%
 }
} 

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

@keyframes fadeInDown {
0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
opacity:0;
-webkit-animation:fadeIn ease-in 1;
-moz-animation:fadeIn ease-in 1;
animation:fadeIn ease-in 1;

-webkit-animation-fill-mode:forwards;
-moz-animation-fill-mode:forwards;
animation-fill-mode:forwards;

-webkit-animation-duration:1s;
-moz-animation-duration:1s;
animation-duration:1s;
}

.fadeIn.first {
-webkit-animation-delay: 0.4s;
-moz-animation-delay: 0.4s;
animation-delay: 0.4s;
}

.fadeIn.second {
-webkit-animation-delay: 0.6s;
-moz-animation-delay: 0.6s;
animation-delay: 0.6s;
}

.fadeIn.third {
-webkit-animation-delay: 0.8s;
-moz-animation-delay: 0.8s;
animation-delay: 0.8s;
}

.fadeIn.fourth {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
display: block;
left: 0;
bottom: -10px;
width: 0;
height: 2px;
background-color: #56baed;
content: "";
transition: width 0.2s;
}

.underlineHover:hover {
color: #0d0d0d;
}

.underlineHover:hover:after{
width: 100%;
}



/* OTHERS */

/* *:focus {
  outline: none;
}  */

/* #icon {
width:60%;
} */


#details_Signup {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  width: 100%;

}

#details_Signup td {

  padding: 8px 10px;
   text-align: center;
}



#details_Signup th {
  padding: 12px ;
  text-align: center;
  color: white;
}