.Send_Fund_Container_deposit{
  
    height:100%;
    width: 80%;
    margin: 10px auto;
    border: 2px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
    font-size: small;
    text-transform: uppercase;
  
  }

  .Send_Fund_header_deposit {
      height: 8vh;
      display: flex;
      align-items: center;
      padding: 20px;
      background: linear-gradient(45deg,#2ed8b6,#59e0c5);
      border-radius: 8px;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 700;
  }

  .Send_Fund_body_deposit {
      padding:3%;
    overflow: auto;
      
  }
.Send_Fund_body_deposit::-webkit-scrollbar{
  display: none;
}

.Send_Fund_body_deposit{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

  .Send_Fund_body_ID_deposit {
      width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 1em;
    font-weight: 500;
    margin: 10px;
  }
 

  .Send_Fund_body_wallet_deposit {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:15px 10px;
    border:1px solid #ddd;

  }
  .Send_Fund_body_Total_deposit {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:30px 10px 10px;
    
  }