.Send_Fund_Container_Ticke{
  
    height:100%;
    margin: 10px auto;
    border: 2px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 10px;
    font-size: small;
  
  
  }

  .Send_Fund_header {
      height: 8vh;
      display: flex;
      align-items: center;
      padding: 20px;
      background: linear-gradient(45deg,#2ed8b6,#59e0c5);
      border-radius: 8px;
      font-family: sans-serif;
      font-size: 20px;
      font-weight: 700;
  }

  .container_Message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    
  }

  /* Darker chat container */
.darker {
    
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container_Message::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container_Message img {
    float: left;
    max-width: 30px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container_Message img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }